<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.egos.capture">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<application
		android:name=".CaptureApplication"
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity android:name=".MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/TransparentTheme"
			android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".PreviewPictureActivity"
			android:screenOrientation="portrait"
			android:launchMode="singleTask"
			android:exported="true"
			android:theme="@style/BlackTheme"/>

		<service
			android:name=".CaptureService"/>
	</application>

</manifest>
